<div class="row"> <div class="columns large-12 medium-12 small-12">
    {% if "firstname" in session %}
        <p>{{ _('Hello') }}, {{ session["firstname"] + " " + session["lastname"] }} <a href="/stations" class="small radius button">{{ _('Stations') }}</a> <a href="/trips" class="small radius button">{{ _('My Trips') }}</a> <a href="/logout" class="small radius button alert">{{ _('Logout') }} &gt;</a></p>
    {% else %}
        <p><a href="/login" class="small radius button">{{ _('Login') }}</a> <a href="/register" class="small radius button secondary">{{ _('Register') }}</a></p>
    {% endif %}
</div> </div>