{% extends '_master.html' %}

{% block body %}
    {% if "userid" in session %}
        <div data-alert class="alert-box info radius">
          {{ _('You are already connected') }}
          <a href="#" class="close">&times;</a>
        </div>
    {% else %}
        <div class="row"><div class="columns large-6 medium-6 small-12 large-centered medium-centered small-centered">
            <form action="" method="post" class="fullpage">
                {% if status == "failed" %} 
                    <div data-alert class="alert-box alert radius">
                        {{ _('Please retry') }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}
                <p><input type="text" name="userid" placeholder="{{ _('User ID') }}"></p>
                <p><input type="password" name="password" placeholder="{{ _('Password') }}"></p>
                <p><input type="submit" value="{{ _('Login') }}" class="button"></p>        
            </form>
        </div></div>
    {% endif %}
{% endblock %}