{% extends '_master.html' %}

{% block body %}
    {% if "userid" in session %}
        <div data-alert class="alert-box info radius">
          {{ _('You are already connected') }}
          <a href="#" class="close">&times;</a>
        </div>
    {% else %}
        <div class="row"><div class="columns large-4 medium-4 small-6 large-centered medium-centered small-centered">
            {% if status == "failed" %} 
                <div data-alert class="alert-box alert radius">
                    {{ _('Please retry') }}
                    <a href="#" class="close">&times;</a>
                </div>
            {% endif %}
            <form action="" method="post">
                <p><input type="text" name="userid"></p>
                <p><input type="password" name="password"></p>
                <p><input type="submit" value="{{ _('Login') }}" class="button"></p>        
            </form>
        </div></div>
    {% endif %}
{% endblock %}