{% extends '_master.html' %}

{% block body %}
    {% if status == "success" %} <h3>{{ _('Welcome!') }}</h3> <p>{{ _('Your ticket ID is') }} {{ userid }}. {{ _('You'll need to log in with it so remember it!') }}</p> {% endif %}
    {% if status == "normal" %}
    <div class="row"><div class="columns large-4 medium-4 small-6 large-centered medium-centered small-centered">
        <form action="" method="post" data-abide>
            <div class="ticket-field">
                <input type="radio" name="ticket" value="1" checked> {{ _('1-day ticket') }} (1,5€)
                <input type="radio" name="ticket" value="7"> {{ _('7-day ticket') }} (7€)
            </div>
            <div class="password-field">
                <input type="password" name="password" placeholder="Password (4-digit pin)" required pattern="^\d{4}$">
                <small class="error">{{ _('Password is required and must be a 4-digit pin') }}</small>
            </div>
            <div class="card-field">
                <input type="text" name="card" placeholder="Credit card number" required pattern="^\d{16}$">
                <small class="error">{{ _('Credit card number is required and must be a 16-digit number') }}</small>
            </div>
            <p><input type="submit" value="Buy" class="button"></p>        
        </form>
    </div></div>
    {% endif %}

{% endblock %}