{% extends '_master.html' %}

{% block body %}

    {% if "firstname" in session %}
        {% for trip in trips %}
            <p>
                <strong><a href="/station/{{trip.startStation.id}}">{{ trip.startStation.name }}</a></strong> 
                ({{ trip.startDate }}) <i class="fa fa-bicycle"></i> 
                <strong><a href="/station/{{trip.endStation.id}}">{{ trip.endStation.name }}</a></strong> 
                ({{ trip.endDate }}) | 
                <strong>{{ trip.minutesSpent() }}</strong> {{ _('minutes') }}, 
                <strong>{{ trip.cost() }}</strong>€
            </p>
        {% endfor %}
    {% else %}
        <div data-alert class="alert-box warning radius">
            {{ _('You must be logged in to view this page.') }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endif %}

{% endblock %}