@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Black.otf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Light.otf') format('truetype');
    font-weight:lighter;
    font-style: normal;
}

/* -------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'montserrat';
    font-weight: bold;
    color:#333;
}

body {
    background-color: #EEE;
    padding-bottom:25px;
}

header {
    margin-bottom:25px !important;
    height:208px;
    background-image: url('banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-bottom:8px solid #ffd200;
    cursor:pointer;
}

.main {
    background-color: #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    padding:15px;
}

#map-canvas {
    width:100%;
    height:500px;
}

.sbbutton {
    font-family: "montserrat";
    font-size: 15pt;
    display: block;
    width:100%;
    margin-bottom:5px;
    color:#ffd200;
    /*text-shadow:1px 1px 5px rgba(0,0,0,0.05);*/
    border-left:0px solid white;
    transition: all 0.2s;
}
.sbbutton i {
    margin-left:5px;
    color:#666;
}
.sbbutton:hover{
    color:#ecc800;
    border-left:5px solid #ecc800;
}

.hellouser{
    font-family: "montserrat";
    color:#666;
    font-size: 13pt;
    font-weight: bold;
    /*text-shadow:1px 1px 1px rgba(0,0,0,0.5);*/
}

